@model IEnumerable<Magazine.Models.StoreViewModel>

@{
    ViewBag.Title = "Magazine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-xs-6">
            <h1 class="page-header">
                @ViewBag.Title
                <small>@ViewBag.Subheading</small>
            </h1>
            <table class="table table-bordered">
                <tr>
                    <th class="warning">Name</th>
                    <th class="warning">Address</th>
                    <th class="warning">Work time</th>
                    <th class="warning">Details</th>
                </tr>
                @foreach (var m in Model)
                {
                    <tr>
                        @Html.Hidden("Id", m.Id)
                        <td>
                            <strong>@m.Name</strong>
                        </td>
                        <td class="info">@m.Address</td>
                        <td>@m.StartWorkTime - @m.EndWorkTime</td>
                        <td>
                            <a class="btn btn-info btn-sm" id="GetListItems"> Items </a>
                        </td>
                    </tr>
                }
            </table>
            <div class="row">
                <div class="col-xs-2">
                    <a href="@Url.Action("Index", "Home")" class="btn btn-info btn-sm"> Back to home </a>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <p> Pagination </p>
                    </div>
                    <div class="col-xs-4">
                        <p> Pagination </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div id="result">

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/get-list-items")
}